@model int

@{
    ViewBag.Title = "Porosia u kompletua";
}

<h2>Porosia u kompletua</h2>

<p>Ju faleminderit per porosine .Numri i porosise suaj eshte: @Model</p>

<p>Vazhdoni blerjen ne librarine
    @Html.ActionLink("Libraria", "Index", "Home")
</p>
